<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0"/>
    <!--ios是否运行创建快捷启动方式-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <!--ios顶部通知栏的样式 黑色-->
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <!--遇到数字，不让转成电话号码格式-->
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta name="description" content="乐淘是中国最大的正品运动鞋、皮鞋网上专卖。乐淘网经营的品牌包括耐克、阿迪达斯、李宁、匡威等国内外知名品牌的篮球鞋,板鞋,休闲鞋,跑步鞋,帆布...">
    <meta name="Keywords" content="乐淘 乐淘鞋城 买鞋子 上乐淘 运动鞋 篮球鞋 帆布鞋 跑步鞋 男鞋 女鞋 足球鞋 休闲鞋 凉鞋 户外鞋 布洛克 高跟鞋 单鞋 豆豆鞋 乐福鞋 牛津鞋 凉拖 皮鞋 短靴 长靴 登山鞋 徒步鞋 硫化鞋 训练鞋 溯溪鞋 越野鞋 板鞋 足球鞋 网球鞋 赛车鞋 雪地靴 马丁靴 商务 英伦">
    <link type="image/x-icon" rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="../assets/mui/css/mui.picker.css">
    <link rel="stylesheet" href="../assets/mui/css/mui.poppicker.css">
    <link rel="stylesheet" href="../assets/fontAwesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/user.css">
    <title>收货地址管理</title>
</head>
<body>
<!--首页内容-->
<div class="lt_container bg">
    <header class="lt_header">
        <a href="javascript:history.back();" class="left"><span class="fa fa-arrow-left"></span></a>
        <h3>收货地址管理</h3>
    </header>
    <div class="lt_content">
        <div class="lt_wrapper oneBox">
            <div class="form_box">
                <div class="mui-input-row">
                    <input name="recipients" type="text" placeholder="收货人">
                </div>
                <div class="mui-input-row">
                    <input name="postCode" type="text" placeholder="邮编">
                </div>
                <div class="mui-input-row">
                    <input name="address" type="text" readonly placeholder="省市区">
                </div>
                <div class="mui-input-row">
                    <textarea name="addressDetail" id="textarea" rows="5" placeholder="详细地址"></textarea>
                </div>
                <a href="javascript:;" class="mui-btn mui-btn-primary btn_submit">确认</a>
            </div>

        </div>
    </div>

    <script type="text/html" id="addressTpl">
        <%if(model && model.length < 5){%>
        <a class="mui-btn btn_link mui-block" href="addressManage.html">添加收货地址</a>
        <%}%>
        <ul class="mui-table-view">
            <% if(model && model.length){ %>
            <% for(var i = model.length-1 ; i >=0 ; i --){ %>
            <% var item = model[i]; %>
            <li class="mui-table-view-cell">
                <div class="mui-slider-right mui-disabled">
                    <a data-id="<%=item.id%>" class="mui-btn mui-btn-red">删除</a>
                </div>
                <a href="addressManage.html?addressId=<%=item.id%>" class="mui-navigate-right mui-slider-handle">
                    <div class="delivery">
                        邮&nbsp;编：<span><%=item.postCode%></span>
                        收货人：<span><%=item.recipients%></span>
                    </div>
                    <div class="address"><%=item.address%><%=item.addressDetail%></div>
                </a>
            </li>
            <% } %>
            <%}%>
        </ul>
    </script>

    <footer class="lt_footer">
        <a class="tab_home fa fa-home" href="../index.html"><span>首页</span></a>
        <a class="tab_cate fa fa-bars" href="../category.html"><span>分类</span></a>
        <a class="tab_cart fa fa-shopping-cart" href="../user/cart.html"><span>购物车</span></a>
        <a class="tab_user fa fa-user" href="../user/index.html"><span>会员中心</span></a>
    </footer>
</div>

<script src="../assets/mui/js/mui.min.js"></script>
<script src="../assets/zepto/zepto.min.js"></script>
<script src="../assets/artTemplate/template-native.js"></script>
<script src="../js/common.js"></script>
<script src="../js/user/addressManage.js"></script>
<script src="../assets/mui/js/mui.picker.js"></script>
<script src="../assets/mui/js/mui.poppicker.js"></script>
<script src="../js/user/city.js"></script>
</body>
</html>