body{
    background: #fff;
}
.lt_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.lt_container .lt_header{
    width: 100%;
    height: 45px;
    background: #006699;
    position: absolute;
    left: 0;
    top: 0;
    line-height: 45px;
    color: #fff;
    text-align: center;
}
.lt_container .lt_header h3{
    /*height: 45px;*/
    line-height: 45px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}
.lt_container .lt_header a{
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    color: #fff;
}

.lt_container .lt_header .left{
    left: 0;
}
.lt_container .lt_header .right{
    right: 0;
}

.lt_container .lt_content{
    padding: 45px 0 55px 0;
    width: 100%;
    height: 100%;
}
.lt_container .lt_content .lt_wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
.lt_container .lt_footer{
    width: 100%;
    height: 55px;
    background: #006699;
    position: absolute;
    left: 0;
    bottom: 0;
}
.lt_container .lt_footer a{
    color: #fff;
    width: 25%;
    float: left;
    text-align: center;
    height: 55px;
    padding-top: 10px;

}
.lt_container .lt_footer a.now{
    color: orange;
}
.lt_container .lt_footer a span{
    display: block;
    font-size: 12px;
    padding-top: 6px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
