.lt_search{
    width: 100%;
    padding: 10px;
    position: relative;
}
.lt_search input{
    height: 30px;
    width: 100%;
    line-height: 30px;
    border: 1px solid #006699;
    background: #fff;
    font-size: 12px;
    text-align: left;
    border-radius: 5px;
    margin-bottom: 0;
}
.lt_search a {
    /*display: block;*/
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: #006699;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/*排序模块*/
.lt_order{
    width: 100%;
    height: 30px;
    background: #efeff4;
}
.lt_order a {
    width: 25%;
    height: 30px;
    line-height: 30px;
    float: left;
    font-size: 12px;
    text-align: center;
    color: #333;
}
.lt_order a.now{
    color: orange;
}
/*商品模块*/
.lt_product{
    width: 100%;
    padding: 0 10px;

}
.lt_product .pro_item{
    width: 48%;
    float: left;
    margin-top: 10px;
}
.lt_product .pro_item:nth-child(2n){
    margin-left: 4%;
}
.lt_product .pro_item .pro_item_box{
    width: 100%;
    min-height: 200px;
    box-shadow: 0 0 3px #ddd;
    display: block;
    text-align: center;
    padding: 10px 0;
}
.lt_product .pro_item .pro_item_box img{
    width: 100%;
    display: block;
}
.lt_product .pro_item .pro_item_box p:first-of-type{
    padding: 0 10px;
}
/*.lt_product .pro_item .pro_item_box p:last-of-type{*/
/*text-align: center;*/
/*}*/
.lt_product .pro_item .pro_item_box .nowPrice{
    font-size: 12px;
    color: red;
}
.lt_product .pro_item .pro_item_box .oldPrice{
    font-size: 12px;
    color: #ccc;
    text-decoration: line-through;
}
.lt_product .pro_item .pro_item_box button{
    background: #006699;
    color: #fff;
}