body{
    background: #fff;
}
.logout{
    padding: 20px 10px 0;
}
.logout a{
    width: 100%;
    height: 30px;
}

.register{
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    margin-right: 10px;
}
.register a{
    float: right;
}


.btn_submit,
.btn_updatePass,
.btn_register {
    width: 100%;
    margin: 20px 0;
}
[type="text"][name="code"]{
    width: 60%;
    float: left;
}
.mui-input-row .btn_getCode {
    width: 35%;
    float: left;
    margin-left: 5%;
    height: 40px;
}

.lt_text{
    font-size: 12px;
    height: 20px;
    line-height: 20px;
}
.lt_text a{
    float: right;
}
[type=checkbox]{
    vertical-align: middle;
}

.btn_disabled{
    background: #999;
    border-color: #999;
}

.delivery{
    font-size: 12px;
}
.address{
    font-size: 12px;
    color: #ccc;
    width: 100%;
    white-space: normal;
    padding-right:20px;
}
.btn_link {
    border-radius: 0;
}

.bg{
    background: #efeff4;
}

.oneBox{
    padding: 10px;
}